/* CERCLE */
.accueil_articles .cercle, .nos_valeurs .cercle, .mentions_legales_global .cercle, .lequipe .cercle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F4ECDE;
    z-index: 100;
    border: 5px solid #880015;
    position: relative;
}

.accueil_articles .cercle {
    margin-top: 115px;
}

.nos_valeurs .cercle {
    margin-top: 10px;
}

.mentions_legales .cercle {
    margin-top: 5px;
    left: 78.5%;
}

.nos_valeurs .timeline-block-right .cercle {
    margin-top: 10px;
    margin-left: 5px;
}

.accueil_articles .timeline-block-right .cercle, .lequipe .timeline-block-right .cercle {
    left: 10%;
}

.accueil_articles .timeline-block-left .cercle, .lequipe .timeline-block-left .cercle{
    right: 10%;
}

.nos_valeurs .timeline-block-left .cercle{
    right: 11%;
}

.nos_valeurs .timeline-block-right .cercle{
    left: 11%;
}

.lequipe .timeline-block-left .cercle{
    right: 11%;
    margin-top: 8px;
}
.lequipe .timeline-block-right .cercle{
    left: 11%;
    margin-top: 8px;
}

.form-etiquette .cercle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F4ECDE;
    z-index: 100;
    border: 5px solid #880015;
    margin-top: 8px;
    position: relative;
    top: -13px;
    left: 93%;
}

/* FICELLE */

.accueil_articles .ficelle, .nos_valeurs .ficelle, .lequipe .ficelle {
    position: absolute;
    width: 92px;
    height: 42px;
    z-index: 200;
    margin-top: 130px;
}
.lequipe .ficelle{
    margin-top:20px;
}

.lequipe .timeline-block-left .ficelle{
    margin-right:1%;
}

.lequipe .timeline-block-right .ficelle{
    margin-left:1%;
}

.nos_valeurs .ficelle {
    background-image: url("../img/ficelles/ficelle_rond_avec_trou.png");
}

.accueil_articles .ficelle, .lequipe .ficelle {
    background-image: url("../img/ficelles/ficelle_rond_avec_trou_2.png");

}

.nos_valeurs .ficelle {
    position: absolute;
    z-index: 200;
    transform: rotate(-40deg);
    margin-top: 2px;
    background-image: url("../img/ficelles/ficelle_valeurs.png");
}

.mentions_legales .ficelle {
    position: absolute;
    width: 75px;
    height: 42px;
    transform: rotate(-40deg);
    left: 79%;
    z-index: 200;
    background-image: url("../img/ficelles/ficelle_courte_mentions-legales.png");
}

.nos_valeurs .timeline-block-right .ficelle {
    transform: rotate(40deg) scaleX(-1);
}

.accueil_articles .timeline-block-right .ficelle,  .lequipe .timeline-block-right .ficelle{
    transform: scaleX(-1);
}


.form-etiquette .ficelle{
    background-image: url("../img/ficelles/ficelle_rond_authentification.png");
    position: relative;
    width: 92px;
    height: 42px;
    z-index: 200;
    margin-top: -63px;
    left: 93%;
    transform: rotate(-40deg);
}

/* ETIQUETTE FORME */

.article_commentaire .voir_commentaires .commentaires {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #880015;
}

.form-etiquette {
    padding: 10px;
    background-color: #fff;
    width: 30%;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #880015;
}


.mentions_legales_global .mentions_contenu {
    margin-top: 60px;
    padding: 10px;
    padding-right:40px;
    background-color: white;
    border-radius: 10px;
    border: 2px dashed #880015;
    width: 60%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 1650px) {
    .global_width {
        padding: 0;
    }

    .acceuil_titre_global, .article_titre, .article_details, .article_description {
        /* margin-left: 10px; */
    }
    .form-etiquette {
        width:50%;
    }
}

@media screen and (max-width: 1500px) {

    .accueil_articles .ficelle, .lequipe .ficelle {
        background-image: url("../img/ficelles/ficelle_moyenne.png");
    }

    .accueil_articles .timeline-block-left .ficelle {
        margin-right: -10px;
    }

    .accueil_articles .timeline-block-right .ficelle {
        margin-left: -10px;
    }
}

@media screen and (max-width: 1440px){
    .nos_valeurs .ficelle{
        margin-top:-2%;
    }
}

@media screen and (max-width: 1200px) {
    .accueil_articles .cercle {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .accueil_articles .timeline-block-left .ficelle {
        margin-right: -20px;
    }

    .accueil_articles .timeline-block-right .ficelle {
        margin-left: -20px;
    }

    .accueil_articles .ficelle {
        margin-top: 125px;
    }

    .accueil_articles .ficelle {
        background-image: url("../img/ficelles/ficelle_moyenne_2.png");
    }

    .lequipe .ficelle{
        background-image: url("../img/ficelles/ficelle_cercle_equipe.png");
        margin-top:0;
    }
}


@media screen and (max-width: 1120px){
    .nos_valeurs .timeline-block .ficelle, .lequipe .timeline-block .ficelle{
        background-image: url("../img/ficelles/ficelle_rond_avec_trou.png");
    }

    .nos_valeurs .timeline-block .ficelle, .lequipe .timeline-block .ficelle  {
        transform: scaleX(-1);
    }

}
@media screen and (max-width: 1024px){
    .mentions_legales .cercle {
        left: 77.5%;
    }
    .mentions_legales .ficelle{
        left:78%;
    }
}



@media screen and (max-width: 768px) {
    .accueil_articles .timeline-block-left .ficelle {
        transform: scaleX(-1);
    }

    .accueil_articles .timeline-block-left .ficelle {
        margin-right: 0
    }

    .accueil_articles .timeline-block-right .ficelle {
        margin-left: -10px;
    }

    .article_commentaire .voir_commentaires .commentaires {
        width: 80%;
    }

    .form-etiquette{
        width:70%;
    }
    .nos_valeurs .timeline-block .ficelle, .lequipe .timeline-block .ficelle{
        background-image: url("../img/ficelles/ficelle_moyenne_2.png");
    }
}

@media screen and (max-width: 425px) {
    .form-etiquette{
        width:90%;
    }

    .form-etiquette .ficelle, .form-etiquette .cercle{
        display: none;
    }

    .mentions_legales .mentions_contenu{
        width:90%;
        padding:10px;
    }

    .mentions_legales .cercle, .mentions_legales .ficelle{
        display: none;
    }
}






