
body {
    background-color: #F4ECDE !important;

}

h1, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Dosis', sans-serif;
}

.row{
    margin:0;
}

.contenu {
    flex: 1;
    min-height: -webkit-calc(100vh - 295px);
    height: -moz-calc(100vh - 295px);
    min-height: calc(100vh - 295px);
}

.global_width {
    max-width: 1760px;
    margin: auto;
    padding: 0 50px;
    height: 100%;
}

.menu #petit-ecran{
    display: none;
}

.menu {
    height: 60px;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    background-color: #FBFFFE;
    border-bottom: 2px solid #880015;
    position: static;
    top: 60px;
    z-index: 999;
}

.menu .menu-item {
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.3em;
    color: #000000;
    display: inline-block;
    /*width: 30%;*/
}

.menu .menu-right {
    text-align: right;
    width: 40%;
    float: right;
    display: inline-block;
    padding-top:4px;
}

.menu .menu-right .menu-item {
    font-size: 2em;
}

.menu .menu-right .menu-pseudo{
    margin-right:10px;
}

.menu .fa {
    color: #880015;
}

.menu .logo {
    width: 200px;
}

.menu img {
    margin-bottom: 4px;
    height: 50px;
    padding-left: 15px;
}

.menu a {
    color: #000000;
}

.menu a:hover, .menu a:focus {
    color: #880015;
    text-decoration: none;
}

#bottom-page a {
    text-decoration: none;
    color: #000000;
}

#bottom-page a > li {
    list-style-type: none;

}

#bottom-page h1 {
    padding-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
}

.bottom-bar {
    margin-top: 30px;
    padding-top: 10px;
    background-color: #FBFFFE;
    border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social {
    padding-left: 40px;
}

.bottom-bar i {
    padding: 10px;
}

.bottom-bar .icon_social img {
    width: 50px;
    margin: 10px;
}

.bottom-copyright {
    background-color: #880015;
    color: #FBFFFE;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    bottom: 0;
}

.global_width_bottom {
    max-width: 1580px;
    margin: auto;
    padding: 0 10px;
}

.pop-up{
    text-align: center;
}

.accueil_articles, .nos_valeurs {
    margin: auto;
    position: relative;
    overflow: hidden;
}

.mentions_legales_global {
    margin: auto;
    position: relative;
}

.accueil_articles a {
    text-decoration: none;
    color: #000000;
}

.accueil_articles a:hover, .accueil_articles a:focus {
    text-decoration: none;
}

.accueil_articles h2 {
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accueil_articles a:hover h2, .accueil_articles a:focus h2 {
    color: #880015;

}

.acceuil_titre_global h1 {
    color: #880015;
}

.accueil_articles .article_image img {
    width: 200px;
    height: 250px;
}

.nos_valeurs .valeur_image img {
    width: 300px;
    height: 200px;
}

.accueil_articles .timeline-block-left .article_image, .nos_valeurs .timeline-block-left .valeur_image {
    padding-right: 16px;
}

.accueil_articles .timeline-block-right .article_image, .nos_valeurs .timeline-block-right .valeur_image {
    padding-left: 16px;
}

.accueil_articles .article_details .article_auteur, .nos_valeurs .valeur_titre {
    font-size: 22px;
    color: #880015;
}

.nos_valeurs .timeline-block-left .valeur_titre {
    text-align: left;
    margin-right: 35px;
}

.nos_valeurs .timeline-block-right .valeur_titre {
    text-align: right;
    margin-left: 35px;
}

.accueil_articles .article_details .description_article {
    margin-top: 5px;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 130px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.article .partage_reseaux_sociaux img{
    width:50px;
    background-color: white;
}

.article .partage_reseaux_sociaux img:hover{
    border-radius:50%;
}


.nos_valeurs .valeur_contenu {
    font-size: 20px;
}

.accueil_articles .article_details .goto_article span:hover {
    font-size: 30px;
}

.accueil_articles .article_details .goto_article {
    margin-left: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    display: inline-block;
}

.accueil_articles .article_details .goto_article span {
    padding: 4px;
    background-color: #880015;
    color: white;
    border-radius: 10px;
}

.accueil_articles .timeline-block-left .article_details, .accueil_articles .timeline-block-left .article_titre {
    margin-right: 10%;
}

.accueil_articles .timeline-block-right .article_details, .accueil_articles .timeline-block-right .article_titre {
    margin-left: 10%;
}

.article h1, .nos_valeurs_global h1, .mentions_legales_global h1 {
    color: #880015;
}

.nos_valeurs_global .valeur_init .timeline-content {
    z-index: 10;
}

.nos_valeurs_global .valeur_init p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: justify;
}

.nos_valeurs_global p {
    font-size: 22px;
    margin-left: 20px;
}

.article .article_contenu {
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
}

.article .article_contenu h3 {
    font-family: 'Roboto', sans-serif;
    color: #880015;
    font-size: 28px;
    text-align: center;
}

.article .article_contenu a {
    text-decoration: none;
    color: #880015;
    font-weight: 500;
}

.article .article_contenu .article_image {
    padding: 10px;
    padding-bottom: 20px;
}

.article .article_contenu .article_image .legende {
    padding-top: 10px;
    font-style: italic;
}

.article_commentaire {
    margin-top: 10px;
}

.article_commentaire h2, .partage_reseaux_sociaux h2 {
    border-bottom: 1px solid #880015;
    font-family: 'Open Sans Condensed', sans-serif;
}

.article_commentaire .ajouter_commentaire form {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .connexion, .article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
    text-align: center;
}

.article_commentaire .ajouter_commentaire .form_contenu textarea {
    width: 70%;
    height: 150px;
}

.article_commentaire .ajouter_commentaire .connexion p, .article_commentaire .ajouter_commentaire .form_contenu label {
    font-size: 22px;
}

.article_commentaire .ajouter_commentaire .connexion a {
    text-decoration: none;
}

.article_commentaire .ajouter_commentaire .connexion span {
    padding: 6px;
    background-color: white;
    color: #880015;
    border-radius: 5px;
    font-size: 22px;
}

.article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .btn-form {
    background-color: #880015;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    display: block;
    margin: auto;
}

.article_commentaire .voir_commentaires .commentaire_informations {
    margin-left: 20%;
}


.form-inscription, .form-authentification{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
}

.form-inscription label, .form-authentification label{
    text-align: left;
    margin: 0px 0px 15px 0px;
    width:100%;
    display: inline-block;
}

.form-inscription label > span, .form-authentification label > span{
    width: 150px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-inscription span.required, .form-authentification span.required{
    color:#880015;
}


.form-inscription span.password{
    font-size: 12px;
    text-align:left;
    float:left;
}

.form-inscription input.input-field, .form-authentification input.input-field{
    width:60%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-inscription .input-field:focus, .form-authentification .input-field:focus{
    border: 1px solid #0C0;
}

.form-inscription input[type=submit],
.form-inscription input[type=button],
.form-authentification input[type=submit],
.form-authentification input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #880015;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-inscription input[type=submit]:hover,
.form-inscription input[type=button]:hover,
.form-authentification input[type=submit]:hover,
.form-authentification input[type=button]:hover
{
    background: #880015;
    color: #fff;
}


.form-inscription .input-sexe{
    margin-top:10px;
}

.form-inscription .champs-obligatoires{
    text-align: left;
    padding-bottom: 10px;
}


.form-inscription #output{
    clear: both;
    padding: 5px 15px;
}

.form-inscription #output a {
    display: block;
    text-decoration: none;
    color: #880015;
    padding: 2px;
    text-align: left;
}

.form-inscription #output a:hover {
    background: #DEB9BF;
}

.mentions_legales {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}
@media screen and (max-width: 1600px){
    .nos_valeurs .valeur_image img {
        width: 225px;
        height: 150px;
    }
}

@media screen and (max-width: 1300px){
    .nos_valeurs .valeur_image img {
        width: 150px !important;
        height: 100px !important;
    }

}

@media screen and (max-width: 1250px) {
    .accueil_articles .article_image img {
        width: 120px !important;
        height: 150px  !important;
    }

    .accueil_articles .article_details .description_article {
        font-size: 18px;
    }
    #footer h1{
        font-size: 40px;
        padding:0;
    }

    #footer ul, .bottom-bar .icon_social{
        padding:0;
    }

    .bottom-bar .icon_social img{
        width: 40px;
    }
}



@media screen and (max-width: 1100px){
    #footer h1{
        font-size: 36px;
    }
    .bottom-bar .icon_social img{
        margin:5px;
    }
}

@media screen and (max-width: 850px){
    #footer .aide, #footer .etiquette, #footer .mentions{
        display:none;
    }

    #footer .social{
        text-align: center;
    }
}




@media screen and (max-width: 760px){
    .menu #grand-ecran, .menu #acceuil{
        display: none;
    }

    .menu #petit-ecran{
        display: inline-block;
    }

    .menu #petit-ecran{
        width:30%;
    }
    .menu #petit-ecran .menu-item{
        width:30%;
        text-align: center;
    }




}



