
body {
    background-color: #F4ECDE !important;
    font-family: 'Quicksand', sans-serif;;

}

h1, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
}

input{
    font-family:'Quicksand', sans-serif;
}
.container {
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.btn:hover, input[type=submit]:hover {
    cursor: pointer;
}

.row {
    margin: 0;
}

.contenu {
    flex: 1;
    min-height: -webkit-calc(100vh - 308px);
    height: -moz-calc(100vh - 308px);
    min-height: calc(100vh - 308px);
}

.revenir_accueil{
    text-align:right;
    margin-right: 10%;
}

.revenir_accueil a{
    color: #000;
    font-size:1.2em;

}

.revenir_accueil a:hover{
    color:#880015;
}

.lequipe_global p, .lequipe_global h1, .nos_valeurs_global h1, .mentions_legales_global h1 {
    margin: 10px;
}

.global_width {
    max-width: 1760px;
    margin: auto;
    padding: 0 50px;
    height: 100%;
}

.landing_page {
    margin: 10px;
}

.landing_page h1 {
    color: #880015;
    text-align: center;
}

.landing_page h2 {
    padding: 20px;
}

#top-page {
    z-index: 1000;
    height: 54px;
    position: static;
    width: 100%;
    margin-bottom: 30px;
}

#top-page, #top-page-scroll {
    background-color: #000000;
    font-size: 1.2em;
}

#top-page .logo, #top-page-scroll .logo {
    margin-top: 0;
}

#top-page .logo a:hover{
    background-color:transparent;
    border:none;
    color:transparent;
}

#top-page img, #top-page-scroll img {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 0;
    height: 50px;
}

#top-page .right-top, #top-page-scroll .right-top {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    width: 80px;
}

#top-page .right-top-all {
    padding-top: 30px;
}

#top-page a {
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;

}

#top-page a:hover {
    background-color: #F4ECDE;
    color: #000000;
    border-bottom: 1.5px solid #880015;
}

#top-page .right-top .fa {
    color: #880015;
    font-size: 1.4em;
    padding-right: 3px;
}

#top-page .fa {
    padding-right: 3px;
    padding-left: 3px;
}

#top-page #top-icon {
    display: none;
}

#top-page-scroll {
    z-index: 1030;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    border-bottom: 2px solid #F4ECDE;
}

#top-page-scroll .right-top {
    text-align: center;
}

#top-page .right-top-all {
    text-align: right;
    padding: 0px;
    right: 0;
    position: absolute;
    padding-top: 13px;
}

#top-page-scroll .right-top .fa {
    color: #880015;
    font-size: 1.5em;
    padding-top: 5px;
    text-align: center;

}

#top-page-scroll .right-top .cercle {
    width: 40px;
    height: 40px;
    background: #F4ECDE;
    border-radius: 50%;
    border: 2px solid white;
}

#top-page-scroll .right-top span:hover {
    cursor: pointer;
}

#top-page-scroll #categorie-item a {
    width: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    text-align: center;
}

#top-page-scroll #categorie-item {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

#searchBox {
    text-align: center;
}

#searchBox .searchInput :-moz-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #880015;
}

/* Firefox <= 18 */
::-moz-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #880015;
}

/* Firefox >= 19 */
::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #880015;
}

:-ms-input-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    color: #880015;
}

/* IE */

.searchLabel {
    position: relative;
    margin: 0;
    width: 400px;
    padding-top: 10px;
}

.searchLabel .fa-search {
    color: #880015;
    top: 5px;
    right: 10px;
    position: absolute;
    font-size: 1.5em;
    padding-top: 7px;
}

.searchLabel .fa-search:hover {
    cursor: pointer;
}

#searchInput {
    padding-left: 5px;
    width: 400px;
}

.menu #smallSearch {
    display: none;
}

#bottom-page a {
    text-decoration: none;
    color: #000000;
}

#bottom-page ul {
    list-style: none;
}

#bottom-page a > li {
    list-style-type: none;

}

#bottom-page h1 {
    padding-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
}

.bottom-bar {
    margin-top: 30px;
    padding-top: 10px;
    background-color: #FBFFFE;
    border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social {
    padding-left: 40px;
}

.bottom-bar i {
    padding: 10px;
}

.bottom-bar .icon_social img {
    width: 50px;
    margin: 10px;
}

.bottom-copyright {
    background-color: #880015;
    color: #FBFFFE;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    bottom: 0;
}

.global_width_bottom {
    max-width: 1580px;
    margin: auto;
    padding: 0 10px;
}

.pop-up {
    text-align: center;
}

.google-signin img {
    width: 200px;
}

.accueil_articles, .nos_valeurs, .lequipe {
    margin: auto;
    position: relative;
    overflow: hidden;
}

.article .article_description {
    margin-bottom: 20px;
}

.article .article_description h2 {
    font-size: 1.5rem;

}

.mentions_legales_global {
    margin: auto;
    position: relative;
}

.accueil_articles a {
    text-decoration: none;
    color: #000000;
}

.accueil_articles a:hover, .accueil_articles a:focus {
    text-decoration: none;
}

.accueil_articles h2 {
    margin-bottom: 2px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.accueil_articles a:hover h2, .accueil_articles a:focus h2 {
    color: #880015;

}

.acceuil_titre_global h1 {
    color: #880015;
    margin-left: 20px;
}

.accueil_articles .article_image img {
    width: 200px;
    height: 250px;
}

.nos_valeurs .valeur_image img {
    width: 300px;
    height: 200px;
}

.accueil_articles .timeline-block-left .article_image, .nos_valeurs .timeline-block-left .valeur_image, .lequipe .timeline-block-left .lequipe_image {
    padding-right: 16px;
}

.accueil_articles .timeline-block-right .article_image, .nos_valeurs .timeline-block-right .valeur_image, .lequipe .timeline-block-right .lequipe_image {
    padding-left: 16px;
}

.accueil_articles .article_details .article_auteur, .nos_valeurs .valeur_titre, .lequipe .lequipe_titre {
    font-size: 1.4em;
    color: #880015;
}

.lequipe_global p {
    font-size: 1.2em;
}

.lequipe .lequipe_image img {
    width: 200px;
}

.nos_valeurs .timeline-block-left .valeur_titre {
    text-align: left;
    margin-right: 35px;
}

.nos_valeurs .timeline-block-right .valeur_titre {
    text-align: right;
    margin-left: 35px;
}

.accueil_articles .article_details .description_article {
    margin-top: 5px;
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 130px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sous_article .icon_res_soc img {
    width: 55px;
    border: 2px solid transparent;
    margin: 5px;
    margin-top: 0;
}

.sous_article .icon_res_soc img:hover {
    border-radius: 50%;
    background-color: white;
}

.article .prochain_article .btn_rond {
    background-color: #880015;
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
}

.article .prochain_article i {
    margin-left: -3px;
}

.article .prochain_article .btn_rond:hover {
    background-color: white;
    color: #880015;
    border: 1px solid #880015;
}

.nos_valeurs .valeur_contenu, .lequipe .lequipe_contenu {
    font-size: 1.2em;
}

.accueil_articles .article_details .goto_article {
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    display: inline-block;
}

.accueil_articles .article_details .goto_article span {
    padding: 4px;
    background-color: #880015;
    color: white;
}

.accueil_articles .timeline-block-left .article_details, .accueil_articles .timeline-block-left .article_titre, .lequipe .timeline-block-left .lequipe_titre {
    /*margin-right: 10%;*/
    text-align: left;
}

.accueil_articles .timeline-block-right .article_details, .accueil_articles .timeline-block-right .article_titre, .lequipe .timeline-block-right .lequipe_titre {
    /*margin-left: 10%;*/
    text-align: right;
}

.article h1, .nos_valeurs_global h1, .mentions_legales_global h1, .lequipe_global h1, .cgu_global h1 {
    color: #880015;
}

.nos_valeurs_global .valeur_init .timeline-content {
    z-index: 10;
}

.nos_valeurs_global .valeur_init p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    text-align: justify;
}

.nos_valeurs_global p {
    font-size: 1.4em;
    margin-left: 20px;
}

.article {
    margin: 40px 10% 40px 10%;
    padding: 70px 8% 10px 8%;
    background-color: #fff;
    /* border-radius: 10px; */
    font-size: 1.1em;
}

.article .article_contenu h2 {
    color: #880015;
    font-size: 1.7em;
}

.article .article_contenu a {
    text-decoration: none;
    color: #880015;
    font-weight: 500;
}

.article .article_contenu .article_image {
    padding: 10px;
    padding-bottom: 20px;
}

.article .article_contenu .article_image .legende {
    padding-top: 10px;
    font-style: italic;
}

.article_commentaire h2, .partage_reseaux_sociaux h2 {
    border-bottom: 1px solid #880015;
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-block;
    font-size: 1.6em;
}

.article_sociaux, .article_commentaire {
    background-color: #fff;
    margin: 10px 10% 40px 10%;
    padding: 10px 8% 10px 8%;
}


.article .prochain_article {
    text-align: center;
    margin-top: 10px;
}
.article .prochain_article form{
    width:100%;
}

.article .prochain_article .name{
    width: 80px;
    float:left;
    text-align: left;
}

.article .sous_article {
    display: flex;
}

.article_sociaux .icon_res_soc {
    text-align: center;
}

.article .prochain_article label {
    margin-top: 15px;
    display: block;
}

.article_commentaire .ajouter_commentaire form {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .connexion, .article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
    text-align: center;
}

.article_commentaire .ajouter_commentaire .form_contenu textarea {
    width: 70%;
    height: 150px;
}

.article_commentaire .ajouter_commentaire .connexion p, .article_commentaire .ajouter_commentaire .form_contenu label {
    font-size: 1.3em;
}

.article_commentaire .ajouter_commentaire .connexion a, .modal-body .connexion a {
    text-decoration: none;
}

.article_commentaire .ajouter_commentaire .connexion span, #myModal_prochain_article .modal-body .connexion span {
    padding: 6px;
    background-color: #880015;
    color: #fff;
    /*border-radius: 5px;*/
    font-size: 1.4em;
}

#myModal_prochain_article .modal-body .connexion span {
    background-color: #F4ECDE;
}

#myModal_prochain_article .modal-body .connexion span:hover .fa {
    color: black
}

#myModal_prochain_article .modal-footer .btn_modal_close {
    background-color: #880015;
    color: white;
}

.article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .btn-form {
    background-color: #880015;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    display: block;
    margin: auto;
    border-radius: 0;
}

.article_commentaire .voir_commentaires .commentaire_contenu {
    text-align: center;
}

.article_commentaire .voir_commentaires #commentaires-view-all {
    display: none;
}

.article_commentaire .voir_commentaires .fa {
    color: #880015;;
    font-size: 1.5em;
}

.article_commentaire .voir_plus:hover, .article_commentaire .voir_moins:hover{
    cursor:pointer;
}

.article_commentaire .voir{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size:0.8em;
}

.article_commentaire .voir_commentaires .voir_moins, .article_commentaire .voir_commentaires .voir_plus {
    text-align: center;
}

.commentaire_repondre .repondre_form_show:hover,
.commentaire_repondre .repondre_form_show:focus {
    cursor: pointer;
    color: #880015;
    text-decoration: underline;
}

.form-etiquette {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
}

.form-etiquette label {
    text-align: left;
    margin: 0px 0px 15px 0px;
    width: 100%;
    display: inline-block;
}

.form-etiquette label > span {
    width: 30%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-etiquette span.required, .prochain_article span.required {
    color: #880015;
}

.form-etiquette span.password {
    font-size: 0.8em;
    text-align: left;
    float: left;
}

.form-etiquette input.input-field, .prochain_article input.input-field {
    width: 60%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
}

.form-etiquette .input-field:focus {
    border: 1px solid #0C0;
}

.form-etiquette input[type=submit],
.form-etiquette input[type=button],
.prochain_article input[type=submit],
.prochain_article input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #880015;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
}

.commentaire_repondre label {
    width: 70%;
}
.commentaire_repondre input[type=text]{
    width: 100%;
}

.commentaire_repondre input[type=submit] {
    margin: 0 8% 0 8%;
    border: none;
    padding: 3px 5px 3px 5px;
    background: #880015;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
}


.commentaire_reponses .voir_reponse{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.commentaire_reponses .voir_reponse:hover{
    cursor: pointer;
    color:#880015;
}

.form-etiquette textarea {
    width: 60%;
}

.form-etiquette select {
    width: 60%;
    height: 40px;
    padding-left: 10px;
}

.form-etiquette input[type=submit]:hover,
.form-etiquette input[type=button]:hover {
    background: #880015;
    color: #fff;
}

.form-etiquette .input-sexe {
    margin-top: 10px;
    margin-left: 40%;
}

.form-etiquette .champs-obligatoires {
    text-align: left;
    padding-bottom: 10px;
}

.form-etiquette #output {
    clear: both;
    padding: 5px 15px;
}

.form-etiquette #output a {
    display: block;
    text-decoration: none;
    color: #880015;
    padding: 2px;
    text-align: left;
}

.form-etiquette #output a:hover {
    background: #DEB9BF;
}

.mentions_legales {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.captcha {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.form-etiquette .fa:hover {
    cursor: pointer;
}

.form-etiquette .compte_infos {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    width: 60%;
}

.cgu_global {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.cgu_contenu h2 {
    color: #880015;
}

.modal input[type=submit],
.modal input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #880015;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.modal label > span {
    width: 30%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.modal input.input-field {
    width: 60%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    margin-right: 10px;
}

.modal label {
    text-align: left;
    margin: 0px 0px 15px 0px;
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 1600px) {
    .nos_valeurs .valeur_image img {
        width: 225px;
        height: 150px;
    }
}

@media (max-width: 1440px) {
    #top-page .right-top a, #top-page .right-top a:hover {
        padding-right: 1px;
        padding-top: 20px;
        padding-bottom: 16.5px;
    }
}

@media screen and (max-width: 1300px) {
    .nos_valeurs .valeur_image img {
        width: 150px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 1250px) {
    .accueil_articles .article_image img {
        width: 120px !important;
        height: 150px !important;
    }

    .accueil_articles .article_details .description_article {
        font-size: 1.1em;
    }

    #footer h1 {
        font-size: 2.5em;
        padding: 0;
    }

    #footer ul, .bottom-bar .icon_social {
        padding: 0;
    }

    .bottom-bar .icon_social img {
        width: 40px;
    }

    #top-page .right-top {
        padding-top: 0;
        height: 40px;
        text-align: center;
        margin-right: 30px;
    }

    #top-page .right-top .fa {
        color: #880015;
        font-size: 1.5em;
        padding-top: 5px;
        text-align: center;
    }

    /*#top-page a {*/
        /*font-size: 0;*/
        /*padding: 0;*/
    /*}*/

    #top-page .right-top-all .right-name{
        display: none;
    }

    #top-page .right-top-all{
        padding-top: 8px;
    }

    #top-page a:hover{
        background-color:transparent;
        color:transparent;
        border-bottom: none;
    }

    #top-page .right-top .cercle {
        width: 40px;
        height: 40px;
        background: #F4ECDE;
        border-radius: 50%;
        border: 2px solid white;
    }

    #top-page .right-top a:hover {
        background-color: #000000;
        border: none;
    }

    #top-page #top-icon span {
        display: block;
        color: #F4ECDE;
        float: left;
        position: relative;
        padding-top: 10px;
    }

    #top-page #top-icon {
        visibility: visible;
        margin: 0;
        margin-right: 20px;
        cursor: pointer;
        width: 30px;
    }

    .searchLabel, #searchInput {
        width: 250px;
    }
}

@media screen and (max-width: 1100px) {
    #footer h1 {
        font-size: 2.2em;
    }

    .bottom-bar .icon_social img {
        margin: 5px;
        width: 30px;
    }

    .article .sous_article {
        display: block;
    }

    .article .article_sociaux {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #top-page .logo, #searchBox {
        width: 40px;
    }

    .right-top-all {
        width: 250px;
    }

    #top-page .logo {
        padding: 0;
    }

    #top-page .right-top {
        margin-right: 20px;
    }

    .article{
       padding:20px;
        margin-right:20px;
        margin-left:20px;
    }

}

@media screen and (max-width: 850px) {
    #footer h1 {
        font-size: 1.9em;
    }

    .article_sociaux {
        display: block;
    }

    .article_sociaux .partage_reseaux_sociaux, .article_commentaire .article_titre{
        padding: 0 10px 0 10px;
    }
}

@media screen and (max-width: 768px) {
    #top-page .right-top {
        margin-right: 10px;
        width: 40px;
    }

    #top-page .right-top .cercle {
        width: 40px;
        height: 40px;
        background: #000000;
        border-radius: 50%;
        border: none;
    }

    #top-page .right-top .fa {
        color: #F4ECDE;
    }

    #top-page .right-top {
        margin-right: 0;
    }

    .right-top-all {
        width: 200px;
    }

    .article {
        margin-left: 10px;
        margin-right: 10px;
        padding:10px;
    }

    .article .icon_res_soc img {
        width: 40px;
        margin: 2px;
    }

    .article_commentaire .ajouter_commentaire .form_contenu textarea {
        width: 90%;
    }

    .article .article_description {
        display: none;
    }

    .article_sociaux, .article_commentaire{
        margin: 0 10px 40px 10px;
    }
}

@media screen and (max-width: 580px) {
    .menu #searchBox {
        display: none;
    }

    .menu #smallSearch {
        display: block;
        text-align: center;

    }

    .searchLabel, .searchLabel .fa-search {
        padding-top: 2px;
    }

    .searchLabel {
        width: 80%;
    }

    #searchInput {
        width: 100%;
    }

    #top-page {
        height: 100px;
    }

}

@media screen and (max-width: 425px) {
    .article_commentaire .ajouter_commentaire .connexion a {
        margin: 20px;
        display: block;
    }

    .article_commentaire .ajouter_commentaire form {
        margin: 0;
    }

    .article_commentaire .ajouter_commentaire .connexion, .article_commentaire .ajouter_commentaire .form_contenu {
        margin: 0;
    }

    .bottom-bar .icon_social img {
        width: 25px;
    }

    .form-etiquette input.input-field {
        margin-right: 5px;
    }

    .captcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

}


