/*html {*/
    /*height: 100%;*/
/*}*/

body {
    background-color: #F4ECDE !important;
    /*position: relative;*/
    /*min-height: 100%;*/
    /*height: 100%;*/
}

section {
    /*max-width: 800px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin: auto;
    position: relative;
    /*min-height: 100%;*/
}

h1, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
}

h1 {
    font-size: 46px;
}

h3 {
    font-size: 34px;
}

.contenu {
    /*height: 100%;*/
    flex: 1;
    /*position: relative;*/
    /*min-height: 100%;*/

    /*min-height: -webkit-calc(100vh - 300px);*/
    /*height: -moz-calc(40% + 8px);*/
    min-height: calc(100vh - 346px);
}

.global_width {
    max-width: 1760px;
    margin: auto;
    padding: 0 50px;
    height: 100%;
}

.menu {
    height: 60px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    background-color: #FBFFFE;
    border-bottom: 2px solid #880015;
    position: static;
    top: 60px;
    z-index: 999;
}

.menu .menu-item {
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5em;
    color: #000000;
    display: inline-block;
    width: 19%;
}

.menu .menu-item-right {
    float: right;
    font-size: 36px;
}

.menu .fa {
    color: #880015;
}

.menu .logo {
    width: 200px;
}

.menu img {
    margin-top: 0;
    height: 50px;
}

.menu a {
    color: #000000;
}

.menu a:hover, .menu a:focus {
    color: #880015;
    text-decoration: none;
}

/*#bottom-page {*/
    /*!*position: absolute;*!*/
    /*bottom: 0;*/
    /*width: 100%;*/
/*}*/

#bottom-page a {
    text-decoration: none;
    color: #000000;
}

#bottom-page a > li {
    list-style-type: none;

}

#bottom-page h1 {
    padding-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
}

.bottom-bar {
    margin-top: 30px;
    padding-top: 10px;
    background-color: #FBFFFE;
    border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social {
    padding-left: 40px;
}

.bottom-bar i {
    padding: 10px;
}

.bottom-bar .icon_social img {
    width: 50px;
    margin: 10px;
}

.bottom-copyright {
    background-color: #880015;
    color: #FBFFFE;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    bottom: 0;
}

.global_width_bottom {
    max-width: 1580px;
    margin: auto;
    padding: 0 10px;
}

.accueil_articles {
    margin: auto;
    position: relative;
    overflow: hidden;

}

.accueil_articles a {
    text-decoration: none;
    color: #000000;
}

.accueil_articles a:hover, .accueil_articles a:focus {
    text-decoration: none;
}

.accueil_articles h2 {
    margin-bottom: 2px;
}

.accueil_articles a:hover h2, .accueil_articles a:focus h2 {
    color: #880015;
}

.acceuil_titre_global h1 {
    color: #880015;
}

.accueil_articles .article_image img {
    width: 200px;
    height: 250px;
}

.accueil_articles .timeline-block-left .article_image {
    padding-right: 16px;
}

.accueil_articles .timeline-block-right .article_image {
    padding-left: 16px;
}

.accueil_articles .article_details .article_auteur {
    font-size: 22px;
    color: #880015;
}

.accueil_articles .article_details .description_article {
    margin-top: 5px;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 130px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.accueil_articles .article_details .goto_article span:hover {
    font-size: 30px;
}

.accueil_articles .article_details .goto_article {
    margin-left: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.accueil_articles .article_details .goto_article span {
    padding: 4px;
    background-color: #880015;
    color: white;
    border-radius: 10px;
}

.accueil_articles .cercle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F4ECDE;
    z-index: 100;
    border: 5px solid #880015;
    margin-top: 115px;
    position: relative;
}

.accueil_articles .timeline-block-right .cercle {
    left: 10%;
}

.accueil_articles .timeline-block-left .cercle {
    right: 10%;
}

.accueil_articles .timeline-block-left .article_details, .accueil_articles .timeline-block-left .article_titre {
    margin-right: 10%;
}

.accueil_articles .timeline-block-right .article_details, .accueil_articles .timeline-block-right .article_titre {
    margin-left: 10%;
}

.accueil_articles .ficelle {
    background-image: url("../img/ficelle_rond_2.png");
    position: absolute;
    width: 92px;
    height: 42px;
    z-index: 200;
    margin-top: 130px;
}

.accueil_articles .timeline-block-right .ficelle {
    transform: scaleX(-1);
}

.article h1 {
    color: #880015;
}

.article .article_contenu {
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
}

.article .article_contenu h3 {
    font-family: 'Roboto', sans-serif;
    color: #880015;
    font-size: 28px;
    text-align: center;

}

.article .article_contenu a {
    text-decoration: none;
    color: #880015;
    font-weight: 500;
}

.article .article_contenu .article_image {
    padding: 10px;
    padding-bottom: 20px;
}

.article .article_contenu .article_image .legende {
    padding-top: 10px;
    font-style: italic;
}

.article_commentaire {
    margin-top: 10px;

}

.article_commentaire h3 {
    border-bottom: 1px solid #880015;
}

.article_commentaire .ajouter_commentaire form {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .connexion, .article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
    text-align: center;
}

.article_commentaire .ajouter_commentaire .form_contenu textarea {
    width: 70%;
    height: 150px;
}

.article_commentaire .ajouter_commentaire .connexion p, .article_commentaire .ajouter_commentaire .form_contenu label {
    font-size: 22px;
}

.article_commentaire .ajouter_commentaire .connexion a {
    text-decoration: none;
}

.article_commentaire .ajouter_commentaire .connexion span {
    padding: 6px;
    background-color: white;
    color: #880015;
    border-radius: 5px;
    font-size: 22px;
}

.article_commentaire .ajouter_commentaire .form_contenu {
    margin: 20px;
}

.article_commentaire .ajouter_commentaire .btn-form {
    background-color: #880015;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    display: block;
    margin: auto;
}

.article_commentaire .voir_commentaires .commentaire_contenu {
    width: 30%;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #880015;
}

.article_commentaire .voir_commentaires .commentaire_informations {
    margin-left: 20%;
}

.authentification_compte {
    padding: 10px;
    background-color: #fff;
    width: 30%;
    display: block;
    margin: auto;
    text-align: center;

}

.authentification_compte legend {
    text-align: left;
}

.authentification_compte a {
    text-decoration: none;
    color: black;
}

.authentification_compte input {
    width: 80%;
}

.authentification_compte .btn-form {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #880015;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;

}



