body{
    background-color: #F4ECDE !important;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

section{
    /*max-width: 800px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin: auto;
    position: relative;
}


h1, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2{
    font-family: 'Dosis', sans-serif;
    font-size:36px;
}

h1{
    font-size:46px;
}

h3{
    font-size:34px;
}


.contenu{
    /*height:100%;*/
    flex: 1;
}

.global_width{
    max-width: 1760px;
    margin: auto;
    padding: 0 50px;
    height: 100%;
}
.menu{
    height:60px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 20px;
    border:0;
    width:100%;
    background-color: #FBFFFE;
    border-bottom: 2px solid #880015;
    position: static;
    top:60px;
    z-index: 999;
}

.menu .menu-item {
    text-align:left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2.5em;
    color:#000000;
    display:inline-block;
    width:19%;
}

.menu .logo{
    width:200px;
}

.menu img{
    margin-top:0;
    height:50px;
}

.menu a{
    color:#000000;
}

.menu  a:hover, .menu a:focus {
    color:#880015;
    text-decoration:none;
}

/*#bottom-page {*/
    /*height: 100px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/

#bottom-page a{
    text-decoration:none;
    color:#000000;
}


#bottom-page a > li {
    list-style-type: none;

}

#bottom-page h1{
    padding-left:40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
}

.bottom-bar{
    margin-top:30px;
    padding-top:10px;
    background-color: #FBFFFE;
    border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social{
    padding-left:40px;
}


.bottom-bar i{
    padding:10px;
}

.bottom-bar .icon_social img{
    width: 50px;
    margin: 10px;
}


.bottom-copyright{
    background-color: #880015;
    color:#FBFFFE;
    text-align: center;
    padding-top:10px;
    padding-bottom:20px;
    bottom:0;
}

.global_width_bottom{
    max-width: 1580px;
    margin: auto;
    padding: 0 10px;
}

.accueil_articles{
    margin: auto;
    position: relative;
    overflow: hidden;

}


.accueil_articles a{
    text-decoration: none;
    color:#000000;
}

.accueil_articles  a:hover, .accueil_articles a:focus {
    text-decoration:none;
}


.accueil_articles  a:hover h2, .accueil_articles a:focus h2{
    color:#880015;
}

.acceuil_titre h1{
    color: #880015;
}


.accueil_articles .article_image img{
    width: 172px;
    height: 200px;
}


.accueil_articles .article_details .description_article{
    margin-top:10px;
    font-size:22px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height:130px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.accueil_articles .article_details .goto_article .fa{
    font-size:36px;
    color: #880015;
}


.accueil_articles .article_details .goto_article span:hover{
    font-size: 36px;
}


.accueil_articles_gauche .article_details .goto_article{
    margin-left:8px;
    font-family: 'Quicksand', sans-serif;
    font-size:24px;
    position: absolute;
    bottom: 20px;
}

